@import "tailwindcss";

@keyframes gradientMotion {
  0% {
    background: linear-gradient(45deg, #FF007A, #3FC1FF);
  }
  25% {
    background: linear-gradient(45deg, #6A1B9A, #FF00FF);
  }
  50% {
    background: linear-gradient(45deg, #00FF7F, #3FC1FF);
  }
  75% {
    background: linear-gradient(45deg, #00BFFF, #FF007A);
  }
  100% {
    background: linear-gradient(45deg, #FF007A, #3FC1FF);
  }
}

.animate-gradient {
  animation: gradientMotion 6s ease infinite;
}
